.base-container{
    border: 1px solid grey;
    // text-align: center;
    padding: 8px;
    background-color: gray;
    width: 55vh;
    height: 30vh;
    display: grid;
    justify-content: center;
}